<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Our Catalog
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="bag-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/courses', course.id]" *ngFor="let course of tabCourses">
      <ion-avatar>
        <img [src]="course.image" />
      </ion-avatar>
      <ion-label>{{ course.title }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>